/* 
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }


  /* My code starts here! */

.container {
    display: grid;
    grid-template-rows: 2fr 10fr 50px;
    height: 100vh;
}

.header {
    background-color: #fdfaf3;
    display: grid;
    grid-template-rows: 1fr 30px;
    padding-top: 20px;
}

.title {
    justify-self: center;
    align-self: self-end;
    font-size: 54px;
}

.information {
    justify-self: end;
    list-style: none;
    display: flex;
    gap: 2em;
    padding-right: 2em;
}

.library {
    background-color: #faf4e4;
    padding: 24px;

    display:grid;
    overflow: auto;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 170px);
    grid-auto-rows: auto;
}

.open-modal {
    height: 200px;
    width: 150px;
    font-size: 60px;
    background-color: whitesmoke;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 6px;
}

.modal {
  /* modal pop-up settings */
  opacity: 0.1;
  position: fixed;
  top: 1000px;
  left: 42%;
  border-radius: 48px;
  /* styling */
  
}

form {
  border-radius: 16px;
  padding: 16px;
  background-color: #fad85c;
  display: grid;
  height: 400px;
  width: 300px;
  grid-template-rows: 60px;
  gap: 4px
}

form > label {
  align-self: end;
}

form > input {
  border-radius: 8px;
  border-style: none;
}

.clearfix > button {
  border-radius: 3px;
  border-style: none;
  background-color: white;
}

.clearfix {
  align-self: center;
  justify-self: center;
}
.modal#open {
  opacity: 1;
  top: 25%;
  left: 42%;
}

.footer {
  background-color: #fad85c;
}

.new {
  font-family: 'Roboto', sans-serif;
  height: 200px;
  width: 150px;
  font-size: 1rem;
  background-color: rgb(68, 206, 219);
  border: 1px solid rgb(165, 165, 165);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.new > p {
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.progress {
  margin-top: 1rem;
}

[class*='not-read'] {
  background-color: rgb(216, 130, 130);
}

[class*='started'] {
  background-color: rgb(216, 210, 130);
}

[class*='completed'] {
  background-color: rgb(150, 209, 102);
}

.remove-button {
  border-radius: 6px;
  font-size: 1rem;
  border: solid 1px;
  padding: 3px;
  margin-top: 1.5rem;
}